<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="xebamnguoi">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0190475214962664 -4.55016378917567E-06 0.0368317962801807"
        rpy="0 0 0" />
      <mass
        value="0.365389251377734" />
      <inertia
        ixx="0.000691360411892132"
        ixy="-5.76483289871114E-09"
        ixz="-7.89720772296053E-07"
        iyy="0.000691943837689035"
        iyz="8.70144192076451E-11"
        izz="0.00126224267400349" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/base_link.STL" />
      </geometry>
      <material
          name="base_mat">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.00388151540702965 0.00118654573706348 0.000380741840009635"
        rpy="0 0 0" />
      <mass
        value="0.0936889950727146" />
      <inertia
        ixx="0.000242651268122166"
        ixy="-1.09123323555147E-07"
        ixz="-3.54625552947635E-08"
        iyy="4.39706112834359E-05"
        iyz="-4.57756453584051E-07"
        izz="0.000199644343881774" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/imu_link.STL" />
      </geometry>
      <material
          name="imu_mat">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_link"
    type="fixed">
    <origin
      xyz="-0.057369 -0.00094794 0.15614"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.00588151540702962 -0.0630113978344126 -0.0204772461505711"
        rpy="0 0 0" />
      <mass
        value="0.0936889950727146" />
      <inertia
        ixx="0.000242651268122166"
        ixy="-1.09123323555147E-07"
        ixz="-3.54625552947635E-08"
        iyy="4.39706112834359E-05"
        iyz="-4.57756453584051E-07"
        izz="0.000199644343881774" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/camera_link.STL" />
      </geometry>
      <material
          name="camera_mat">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_link"
    type="fixed">
    <origin
      xyz="0.002 0.064198 0.020858"
      rpy="0 0 0" />
    <parent
      link="imu_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.0078695329611938 -9.05617813826004E-05 -0.0174678278711848"
        rpy="0 0 0" />
      <mass
        value="0.116689056224792" />
      <inertia
        ixx="3.64216717253483E-05"
        ixy="2.26809118841235E-10"
        ixz="1.95087409736938E-20"
        iyy="3.61792018327501E-05"
        iyz="-5.00027438455584E-21"
        izz="6.07845987375864E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/lidar_link.STL" />
      </geometry>
      <material
          name="lidar_mat">
        <color
          rgba="0.996078431372549 0.396078431372549 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_link"
    type="fixed">
    <origin
      xyz="0.027862 2.6587E-05 0.113"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_link">
    <inertial>
      <origin
        xyz="5.74224770399923E-07 1.68246789025717E-06 0.00270298652080386"
        rpy="0 0 0" />
      <mass
        value="0.00220618814328091" />
      <inertia
        ixx="5.95362537277258E-08"
        ixy="-2.94432803285007E-10"
        ixz="3.77775132588136E-12"
        iyy="4.28800244629685E-08"
        iyz="1.72169291876825E-11"
        izz="7.36203699874543E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/caster_link.STL" />
      </geometry>
      <material
          name="caster_mat">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/caster_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_link"
    type="fixed">
    <origin
      xyz="0.086924 2.6477E-05 -0.0014569"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="caster_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_link">
    <inertial>
      <origin
        xyz="-5.11826622751066E-11 0.000749999989378108 1.80011006101211E-11"
        rpy="0 0 0" />
      <mass
        value="0.0218250713775751" />
      <inertia
        ixx="1.17811435096985E-05"
        ixy="-9.38727979633561E-16"
        ixz="8.05319572186328E-16"
        iyy="2.00953635519906E-05"
        iyz="-2.56374686595957E-15"
        izz="1.17811435117345E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/right_link.STL" />
      </geometry>
      <material
          name="right_wheel_mat">
        <color
          rgba="0.333333333333333 0.333333333333333 0.333333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_link"
    type="continuous">
    <origin
      xyz="-0.046619 -0.11925 0.0238"
      rpy="0 0 0" />
    <parent
      link="base_link" />
     <child
       link="right_link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="0.196"
      velocity="22.51" />
  </joint>
  <link
    name="left_link">
    <inertial>
      <origin
        xyz="5.28829549595322E-11 -0.000749999954111596 -1.1051937143236E-11"
        rpy="0 0 0" />
      <mass
        value="0.0218250713775745" />
      <inertia
        ixx="1.17811435095239E-05"
        ixy="5.00054824985152E-16"
        ixz="5.12896173404843E-16"
        iyy="2.00953635519902E-05"
        iyz="2.65804582962321E-15"
        izz="1.17811435119086E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/left_link.STL" />
      </geometry>
      <material
          name="left_wheel_mat">
        <color
          rgba="0.333333333333333 0.333333333333333 0.333333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_slam_nav2/meshes/left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_link"
    type="continuous">
    <origin
      xyz="-0.046719 0.11925 0.0238"
      rpy="0 0 0" />
    <parent
      link="base_link" />
     <child
       link="left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0.196"
      velocity="22.51" />
  </joint>
  <link
    name="base_footprint">
  </link>
  <joint
    name="base_footprint_joint"
    type="fixed">
    <origin
      xyz="0 0 0.01"
      rpy="0 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
  </joint>
</robot>
